
server/.idea/

*.class

.vscode/


bin/
out/


*.class

libs/

*.log

.classpath
.project
.settings/

client/

.DS_Store
Thumbs.db

# IntelliJ IDEA
server/.idea/
*.iml
out/
*.ipr
*.iws
target/

.env
docker.env
